.blocklist-component
  header
    .container
      .logo
      h1 Fake Blocker
      p A tool for blocking fake
        br 
        | and abusive Twitter accounts
      a.logout-btn(*ngIf="auth", href="/logout")
        i.fa.fa-lock
        |&nbsp;&nbsp;Logout

  section.count Currently blocking {{blocklistCount}} Twitter accounts
  .container
    .logged-out(*ngIf="!auth")
      .intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed quam quis arcu aliquet gravida sit amet at turpis. Nullam sodales id quam vitae dictum. Suspendisse et egestas nisi. Nullam id arcu eget orci viverra luctus nec id nibh. Quisque sed consectetur nisi, ut varius erat. Aenean lacinia dui tellus, vitae scelerisque odio sollicitudin sed. Aenean vitae hendrerit diam. Get blocking!
      a.login-btn(href="#",(click)="onLogin()")
        i.fa.fa-twitter
        br
        | Login with Twitter

    div(*ngIf="auth")
      .block-intro
        h3 You are logged in as {{auth.name}} 
        p(*ngIf="!complete") You are about to block the following Twitter accounts:
        .alert.alert-danger(*ngIf="error") {{error}}
        .alert.alert-success(*ngIf="result") {{result}}
      div.list-wrapper(*ngIf="!complete")
        ul.blocklist
          li( *ngFor="let profile of blocklist")
            .profile
              .image([style.background-image]="'url(' + profile.images.profile.replace('_normal', '') + ')'")
              .name @{{profile.username}}
      a.block-btn(*ngIf="!working && !complete", (click)="onBlockAll()") Block
  footer
    h4 Made by Volunteers 
    a.c4c-logo(href="http://www.codersforcorbyn.com", target="_blank")