.hero-details-page
  #hero(*ngIf="hero")
    h2 {{hero.name}} Details
    div
      label id:
      |  {{hero.id}}
    div
      label name:
      input([(ngModel)]="hero.name" placeholder="name")

    button((click)="goBack()") Back

