.heroes-page
  #heroes
    .heroes
      li( *ngFor="let hero of heroes",
          [class.selected]="hero === selectedHero",
          (click)="onSelect(hero)")
        span.badge {{hero.id}}
        |  {{hero.name}}
  .mini-detail(*ngIf="selectedHero")
    h2 {{selectedHero.name || uppercase}} is my hero
    button((click)="gotoDetail()") View Details

