.main-page
  h1 Violet
  small Social tools for activists

  #logged-out(*ngIf="user")
    nav
      a(routerLink="/dashboard") Dashboard
      a(routerLink="/blocklist") Blocklist
      a(routerLink="/voted" routerLinkActive="active") Voted
      a(href="/logout") Logout
  router-outlet
