@import "variables.less";

.twibbyn-component {
    #header {
        margin-bottom: 20px;
    }

    .preview {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        margin-bottom: 40px;

        .row > div {
            position: relative;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            padding-left: 0;
            padding-right: 0;
            padding-top: 25%;

            .operator {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: 100% auto;
                background-position: center center;
                background-repeat: no-repeat;
                border: 1px solid #ccc;

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-size: 100% auto;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                .prev,
                .next {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    font-size: 25px;
                    color: #666;
                    cursor: pointer;

                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        color: @darkRed;
                    }
                }

                .prev {
                    left: 0;
                    right: 50%;
                    text-align: left;

                    i {
                        left: 10px;
                    }
                }

                .next {
                    left: 50%;
                    right: 0;
                    text-align: right;

                    i {
                        right: 10px;
                    }
                }
            }

            &.first {
                margin-left: 15px;
            }

            &.generated {
                position: relative;
                left: 26px;

                .image {
                    background-image: url(https://i0.wp.com/cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto auto;
                }
            }
        }
    }

    .generate-btn {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 2;
        background-color: @darkRed;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        padding: 10px 40px;
        border-radius: 10px 10px 0 0;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        
        @media only screen and (min-width : 768px) {
            font-size: 50px;
            padding: 20px 60px;
            border-radius: 10px 10px 0 0;
        }
    }
}